.Row{
    margin: 10px;
    background-color: rgb(233, 236, 236);
    color: black;
    padding: 10px;
    text-transform: capitalize;

}
.head{
    width:100%;
    background-color:  rgb(89, 110, 110);
    color: azure;
}

.h2{
    text-transform: capitalize;
    text-shadow: 2px 2px 2px gray;
}